@inherits LayoutComponentBase
@* @inject AuthenticationStateProvider AuthenticationStateProvider *@
@* @using Microsoft.AspNetCore.Components.Authorization  *@

<FluentLayout>
    <FluentHeader>
        StockApp.BlazorPwa
        <FluentSpacer />
@*             <div>
            <a href="/.auth/login/github?post_login_redirect_uri=https://jolly-stone-05dc7330f.5.azurestaticapps.net/success">Login</a>
                <a href="/.auth/logout">Logout</a>
            </div> *@
            <AuthorizeView>
                <Authorized>
                    <a href="/.auth/logout">Log out</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/.auth/login/github">Login</a>
                </NotAuthorized>
            </AuthorizeView>
@*         <AuthorizeView>
            <Authorizing>
                <text>...</text>
            </Authorizing>
            <Authorized>
                <img src="img/user.svg" />
                <div>
                     @if (authenticationState != null)
                    {
                        <p>Welcome, @authenticationState.User.Identity.Name!</p>
                    } 
                    <a href="/.auth/logout">Log out</a>
                </div>
            </Authorized>
            <NotAuthorized>
                <a href="/.auth/login/github">Login</a>
            </NotAuthorized>
        </AuthorizeView> *@
        @* <a href="/.auth/login/github?post_login_redirect_uri=https://jolly-stone-05dc7330f.5.azurestaticapps.net/success">Login</a> *@

    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <NavMenu />
        <FluentBodyContent Class="body-content">
            <ErrorBoundary>
                <ChildContent>
                    <div class="content">
                        @Body
                    </div>
                </ChildContent>
                <ErrorContent Context="ex">
                    <div class="blazor-error-boundary">@ex.Message</div>
                </ErrorContent>
            </ErrorBoundary>
        </FluentBodyContent>
    </FluentStack>
    <FluentFooter>
        <a href="https://www.fluentui-blazor.net" target="_blank">Documentation and demos</a>
        <FluentSpacer />
        <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor" target="_blank">About Blazor</a>
    </FluentFooter>
</FluentLayout>

@* @code {
    private AuthenticationState authenticationState;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        authenticationState = authState;
    }
} *@
