.responsive-grid {
    /*display: grid;
    grid-template-columns: repeat(4, 1fr);
*/ gap: 10px;
}

.grid-item {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 10px;
}

.label {
    text-align: left;
    flex: 1;
}

.value {
    text-align: right;
    flex: 1;
}

.text-success {
    color: green;
}

.text-danger {
    color: red;
}

@media (max-width: 768px) {
    .responsive-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .responsive-grid {
        grid-template-columns: 1fr;
    }
}
