@page "/"
@using StockApp.Shared
@* @using static System.Net.WebRequestMethods *@

@inject HttpClient Http

<h3>Stock Price</h3>

<input @bind="Symbol" placeholder="Enter stock symbol" />
<button @onclick="GetStockPrice">Get Price</button>

@* <p>Service: @StockService.ServiceName</p> *@
<p>Symbol: @Symbol</p>
<p>Price: @stockPrice</p>

@code {
    private string Symbol;
    private string stockPrice;
    private ChartResult stockData;

    private async Task GetStockPrice()
    {
        var stockData = await Http.GetFromJsonAsync<ChartResult>($"/api/GetStockPrice?symbol={Symbol}") ?? new ChartResult { };
        stockPrice = stockData?.Chart.Result.FirstOrDefault().Meta.RegularMarketPrice.ToString() ?? "N/A";
    }
}